body {
  background-color: #ebebeb;
  height: 100%;
}
.card-starship {
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card-starship:hover {
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
}

.card-starship .btn:hover {
  box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
}